.*/idea
./output/*
./venv/*
.idea
video12.mp4
video15.mp4
venv

finalized_model.sav

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
output/frame0.jpg
output/frame1.jpg
output/frame2.jpg
output/frame3.jpg
output/frame4.jpg
output/frame5.jpg
output/frame6.jpg
output/frame7.jpg
output/frame8.jpg
output/frame9.jpg
output/frame10.jpg
output/frame11.jpg
output/frame12.jpg
output/frame13.jpg
output/frame14.jpg
output/frame15.jpg
output/frame16.jpg
output/frame17.jpg
output/frame18.jpg
output/frame19.jpg
output/frame20.jpg
output/frame21.jpg
output/frame22.jpg
output/frame23.jpg
output/frame24.jpg
output/frame25.jpg
output/frame26.jpg
output/frame27.jpg
output/frame28.jpg
output/frame29.jpg
output/frame30.jpg
output/frame31.jpg
output/frame32.jpg
output/frame33.jpg
output/frame34.jpg
output/frame35.jpg
output/frame36.jpg
output/frame37.jpg
output/frame38.jpg
output/frame39.jpg
output/frame40.jpg
output/frame41.jpg
output/frame42.jpg
output/frame43.jpg
output/frame44.jpg
output/frame45.jpg
output/frame46.jpg
output/frame47.jpg
output/frame48.jpg
output/frame49.jpg
output/frame50.jpg
output/frame51.jpg
output/frame52.jpg
output/frame53.jpg
output/frame54.jpg
output/frame55.jpg
output/frame56.jpg
output/frame57.jpg
output/frame58.jpg
output/frame59.jpg
output/frame60.jpg
output/frame61.jpg
output/frame62.jpg
output/frame63.jpg
output/frame64.jpg
output/frame65.jpg
output/frame66.jpg
output/frame67.jpg
output/frame68.jpg
output/frame69.jpg
output/frame70.jpg
output/frame71.jpg
output/frame72.jpg
output/frame73.jpg
output/frame74.jpg
output/frame75.jpg
output/frame76.jpg
output/frame77.jpg
output/frame78.jpg
output/frame79.jpg
output/frame80.jpg
output/frame81.jpg
output/frame82.jpg
output/frame83.jpg
output/frame84.jpg
output/frame85.jpg
output/frame86.jpg
output/frame87.jpg
output/frame88.jpg
output/frame89.jpg
output/frame90.jpg
output/frame91.jpg
output/frame92.jpg
output/frame93.jpg
output/frame94.jpg
output/frame95.jpg
output/frame96.jpg
output/frame97.jpg
output/frame98.jpg
output/frame99.jpg
output/frame100.jpg
output/frame101.jpg
output/frame102.jpg
output/frame103.jpg
output/frame104.jpg
output/frame105.jpg
output/frame106.jpg
output/frame107.jpg
output/frame108.jpg
output/frame109.jpg
output/frame110.jpg
output/frame111.jpg
output/frame112.jpg
output/frame113.jpg
output/frame114.jpg
output/frame115.jpg
output/frame116.jpg
output/frame117.jpg
output/frame118.jpg
output/frame119.jpg
output/frame120.jpg
output/frame121.jpg
output/frame122.jpg
output/frame123.jpg
output/frame124.jpg
output/frame125.jpg
output/frame126.jpg
output/frame127.jpg
output/frame128.jpg
output/frame129.jpg
output/frame130.jpg
output/frame131.jpg
output/frame132.jpg
output/frame133.jpg
output/frame134.jpg
output/frame135.jpg
output/frame136.jpg
output/frame137.jpg
output/frame138.jpg
output/frame139.jpg
output/frame140.jpg
output/frame141.jpg
output/frame142.jpg
output/frame143.jpg
output/frame144.jpg
output/frame145.jpg
output/frame146.jpg
output/frame147.jpg
output/frame148.jpg
output/frame149.jpg
output/frame150.jpg
output/frame151.jpg
output/frame152.jpg
output/frame153.jpg
output/frame154.jpg
output/frame155.jpg
output/frame156.jpg
output/frame157.jpg
output/frame158.jpg
output/frame159.jpg
output/frame160.jpg
output/frame161.jpg
output/frame162.jpg
output/frame163.jpg
output/frame164.jpg
output/frame165.jpg
output/frame166.jpg
output/frame167.jpg
output/frame168.jpg
output/frame169.jpg
output/frame170.jpg
output/frame171.jpg
output/frame172.jpg
output/frame173.jpg
output/frame174.jpg
output/frame175.jpg
output/frame176.jpg
output/frame177.jpg
output/frame178.jpg
output/frame179.jpg
output/frame180.jpg
output/frame181.jpg
output/frame182.jpg
output/frame183.jpg
output/frame184.jpg
output/frame185.jpg
output/frame186.jpg
output/frame187.jpg
output/frame188.jpg
output/frame189.jpg
output/frame190.jpg
output/frame191.jpg
output/frame192.jpg
output/frame193.jpg
output/frame194.jpg
output/frame195.jpg
output/frame196.jpg
output/frame197.jpg
output/frame198.jpg
output/frame199.jpg
output/frame200.jpg
output/frame201.jpg
output/frame202.jpg
output/frame203.jpg
output/frame204.jpg
output/frame205.jpg
output/frame206.jpg
output/frame207.jpg
output/frame208.jpg
output/frame209.jpg
output/frame210.jpg
output/frame211.jpg
output/frame212.jpg
output/frame213.jpg
output/frame214.jpg
output/frame215.jpg
output/frame216.jpg
output/frame217.jpg
output/frame218.jpg
output/frame219.jpg
output/frame220.jpg
output/frame221.jpg
output/frame222.jpg
output/frame223.jpg
output/frame224.jpg
output/frame225.jpg
output/frame226.jpg
output/frame227.jpg
output/frame228.jpg
output/frame229.jpg
output/frame230.jpg
output/frame231.jpg
output/frame232.jpg
output/frame233.jpg
output/frame234.jpg
output/frame235.jpg
output/frame236.jpg
output/frame237.jpg
output/frame238.jpg
output/frame239.jpg
output/frame240.jpg
output/frame241.jpg
output/frame242.jpg
output/frame243.jpg
output/frame244.jpg
output/frame245.jpg
output/frame246.jpg
output/frame247.jpg
output/frame248.jpg
output/frame249.jpg
output/frame250.jpg
output/frame251.jpg
output/frame252.jpg
output/frame253.jpg
output/frame254.jpg
output/frame255.jpg
output/frame256.jpg
output/frame257.jpg
output/frame258.jpg
output/frame259.jpg
output/frame260.jpg
output/frame261.jpg
output/frame262.jpg
output/frame263.jpg
output/frame264.jpg
output/frame265.jpg
output/frame266.jpg
output/frame267.jpg
output/frame268.jpg
output/frame269.jpg
output/frame270.jpg
output/frame271.jpg
output/frame272.jpg
output/frame273.jpg
output/frame274.jpg
output/frame275.jpg
output/frame276.jpg
output/frame277.jpg
output/frame278.jpg
output/frame279.jpg
output/frame280.jpg
output/frame281.jpg
output/frame282.jpg
output/frame283.jpg
output/frame284.jpg
output/frame285.jpg
output/frame286.jpg
output/frame287.jpg
output/frame288.jpg
output/frame289.jpg
output/frame290.jpg
output/frame291.jpg
output/frame292.jpg
output/frame293.jpg
output/frame294.jpg
output/frame295.jpg
output/frame296.jpg
output/frame297.jpg
output/frame298.jpg
output/frame299.jpg
output/frame300.jpg
output/frame301.jpg
output/frame302.jpg
output/frame303.jpg
